# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.env

# Database files
db.sqlite3

# Static files
**/staticfiles/

# Media files
**/mediafiles/

# Configuration files
*.config

# Logs
*.log

# Ignore environment files
.env

# Ignore virtual environment
**/venv/

# Ignore macOS system files
.DS_Store


# Ignore development files
.env_file/*

# Ignore secrets
.secrets/*/*